* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    padding: 15px;
    background-color: black;
    display: grid;
    grid-template-columns: 22% 20% 7% 27% 22%;
    grid-template-rows: 29% 24% 7% 18% 18%;

    grid-template-areas: 
    
    "left-top top-center1 top-center1 top-center2 right-top"
    "left-top center center center right-top"
    "left-bottom center center center right-bottom"
    "left-bottom center center center right-bottom"
    "left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom"
    ;
    gap: 10px;
}

.left-top{
    background-color: antiquewhite;
    grid-area: left-top;
    border: 2px solid white;
    border-radius: 25px;
}

.left-bottom{
    background-color: aqua;
    grid-area: left-bottom;
    border: 2px solid white;
    border-radius: 25px;
}

.top-center1{
    background-color: aquamarine;
    grid-area: top-center1;
    border: 2px solid white;
    border-radius: 25px;
}

.top-center2{
    background-color: azure;
    grid-area: top-center2;
    border: 2px solid white;
    border-radius: 25px;
}

.center{
    background-color: beige;
    grid-area: center;
    border: 2px solid white;
    border-radius: 25px;
}

.bottom-center1{
    background-color: bisque;
    grid-area: bottom-center1;
    border: 2px solid white;
    border-radius: 25px;
}

.bottom-center2{
    background-color: darkblue;
    grid-area: bottom-center2;
    border: 2px solid white;
    border-radius: 25px;
}

.right-top{
    background-color: blueviolet;
    grid-area: right-top;
    border: 2px solid white;
    border-radius: 25px;
}

.right-bottom{
    background-color: rgb(192, 170, 213);
    grid-area: right-bottom;
    border: 2px solid white;
    border-radius: 25px;
}

